@use "sass:map";
@use '@angular/material' as mat;

$theme: mat.define-theme(
  (
    color: (
      theme-type: 'light',
      primary: mat.$azure-palette,
      tertiary: mat.$blue-palette,
      use-system-variables: true,
    ),
    typography: (
      brand-family: 'Helvetica Neue',
      bold-weight: 900,
    ),
    density: (
      scale: -1,
    ),
  )
);