@use "sass:map";
@use '@angular/material' as mat;

$primary: mat.$azure-palette;
$accent: mat.$blue-palette;

$theme: mat.define-theme(
  (
    color: (
      theme-type: 'light',
      primary: $primary,
      tertiary: $accent,
      use-system-variables: true,
    ),
    density: (
      scale: -1,
    ),
  )
);