@use '@angular/material' as mat;
@use "./light-theme";
@use "./app/home/home-component-theme";

html,
body {
  height: 100%;
  @include mat.core();
  @include mat.all-component-themes(light-theme.$theme);
  @include mat.system-level-colors(light-theme.$theme);
  @include home-component-theme.theme(light-theme.$theme);
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}
